
@{
    ViewData["Title"] = "ThankYou";
}

@{
    ViewData["Title"] = "Thank You";
}

<div class="container mt-5 text-center">
    <h2>Thank You!</h2>
    <p>Your message has been sent successfully. We'll get back to you shortly.</p>
    <a class="btn btn-primary mt-3" asp-action="Index">Back to Home</a>
</div>


