body {
    background-color: #F3F4F6;
}

nav.navbar {
    background-color: white; /* or any color you want */
}

.contact_us_text {
    position: relative;
    width: 182px;
    display: inline-block;
}

    .contact_us_text::before {
        content: "";
        position: absolute;
        left: -3rem;
        bottom: 0;
        width: 60px;
        height: 60px;
        background-image: url(../images/fireworks_01a.svg);
        background-size: 100% 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .contact_us_text::after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-image: url(../images/fireworks_01b.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        pointer-events: none;
    }

.location_text {
   
    background-image: url('../images/red_highlight_bold_05.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 40px;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.gmap {
    text-align: center;
    padding-bottom: 10px;
}

.gmap_container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border-radius: 10px;
    overflow: hidden;
}

.gmap_container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
