.sticky_head {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar {
    background-color: white; /* or any color you want */
   
}
.navbar-brand{
    color:black;
}
.nav-link {
    color: black;
}
.head_strip {
    background-color: red;
    
}
.head_strip_content{
    padding-block:10px;
}

.head_strip_icon {
    margin-right: 5px;
    color:white;
}

.head_strip_text {
    margin-top: 5px;
}
.head_strip_value {
    color: white;
}
.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full screen height */
}

main {
    flex-grow: 1; /* pushes footer to bottom */
}
.footer {
    background-color: #252733;
/*    position: fixed;*/
    bottom: 0;
    width: 100%;
}

.footer_title {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.footer_About_Us {    
    color: #FFFFFF;
}

.About_Us {
    color: #FFFFFF;
    font-size: .875rem;
    font-weight: 500;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}