.navbar {
    background-color: white; /* or any color you want */
}
.navbar-brand{
    color:black;
}
.nav-link {
    color: black;
}
.head_strip {
    background-color: red;
}

.head_strip_content {
    padding: 5px;
}

.head_strip_text {
    margin-top: 5px;
}

.Contact {
    margin-left: 116px;
}
.footer {
    background-color: #252733;
/*    position: absolute;*/
    bottom: 0;
    width: 100%;
}

.footer_title {
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.footer_About_Us {
    width: 320px;
    height: 350px;
    color: #FFFFFF;
}

.About_Us {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}